{% extends 'shop/base.html' %}
{% load static %}

{% block title %}
    {% if category %}
        {{ category.name }}
        {% else %}
        Produkty
    {% endif %}
{% endblock %}

{% block content %}

<div id="sidebar">
    <h3>Kategorie</h3>
    <ul>
        <li {% if not category %} class="selected"{% endif %}>
        <a href="{% url 'myshop:product_list' %}">Wszystkie</a>
        </li>
    {% for cat in categories %}
        <li {% if category.slug == cat.slug %} class="selected"{% endif %}>
            <a href="{{ cat.get_absolute_url }}">{{ cat.name }}</a>
        </li>

    {% endfor %}
    </ul>
</div>
<div id="content-main" class="product-list">
    <h1>{% if category %}{{ category.name }}{% else %}Produkty{% endif %} </h1>
    {% for product in products %}
        <div class="item">
            <a href="{{ product.get_absolute_url }}">
            <img src="{% if product.image %}{{ product.image.url }}"width="250px"{% else %}{% static 'img/no_image.png'%}{% endif %}">
            </a>
            <a href="{{ product.get_absolute_url }}">{{ product.name }}</a><br>
            {{ product.price }} zł
        </div>
        <hr>
    {% endfor %}

</div>
    {% include 'myshop/pagination.html' with page=products %}
{% endblock %}